[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tables2 = "*"
pandas = "*"
plotly = "*"

[dev-packages]
python-dotenv = "*"
black = "*"
django-browser-reload = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
