{% extends 'base.html' %}


    {% block content %}
        <div class="container flex flex-col justify-center items-center">
            <h1 class="text-3xl font-bold self-start mb-2">About</h1>
            <div class="h-px w-full bg-slate-300 mb-4"></div>
            <div class="w-1/2">
            <p class="text-justify">Fueling the flames of innovation since 2022, we're the enigmatic pioneers behind a legacy built on determination and passion. Unveiling secrets of the past and sparking imaginations for a brighter future. 🔥 #IgniteTheRevolution #OriginUnveiled</p>
            </div>
        </div>
    {% endblock %}