{% extends 'base.html' %}


    {% block content %}
        <div class="container flex flex-col justify-center items-center">
            <h1 class="text-3xl font-bold self-start mb-2">Home</h1>
            <div class="h-px w-full bg-slate-300 mb-4"></div>
            <div class="w-1/2">
            <p class="text-justify">Creating memorable moments and cultivating lasting connections! 💫✨ Revolutionizing customer relationships, one interaction at a time. 🌟✉️🤝 #QuivrCRM #BuildingBridges #CustomerLove</p>
            </div>
        </div>
    {% endblock %}
