{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}


{% block content %}
    <h1 class="text-gray-950">Dashboard</h1>
    <div class="p-1 bg-gray-50 flex gap-6">
        <a class="no-underline text-sm text-emerald-500" href="{% url 'lead:create' %}">
            <div class="w-fit text-base flex items-center">
                <i class="fa fa-plus mr-1 fa-xs"></i>
                Add Lead
            </div>
        </a>
        <a class="no-underline text-sm text-emerald-500" href="{% url 'lead:list' %}">
            <div class="w-fit text-base flex items-center">
                <i class="fa-solid mr-1 fa-list fa-xs"></i>
                View Leads
            </div>
        </a>
    </div>
{% endblock %}